.container {
  background-color: rgb(53, 54, 58);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 3px 3px #000;
  font-family: 'Roboto Slab', serif;
  font-size: 64px;
  color: lightgray;
  text-align: center;
}
